// functions and mixins

// rem calc
@function rem-calc($size) {
  $rem-size: $size / 16px;
  @return #{$rem-size}rem;
}

// background mixin
@mixin background-image($image-url) {
  background: url($image-url) no-repeat center center;
  background-size: cover;
}

// media mixins
@mixin device-height($height) {
  @media (min-device-height: $height) and (min-width: 992px) {
    @content;
  }
}

// position @mixin with conditional arguments
@mixin position($type, $top:null, $right:null, $bottom:null, $left:null, $zindex:auto) {
  position: $type;
  @if $top {
    top: $top;
  }
  @if $right {
    right: $right;
  }
  @if $bottom {
    bottom: $bottom;
  }
  @if $left {
    left: $left;
  }
  @if $zindex {
    z-index: $zindex;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - -

// fonts
@font-face {
  font-family: 'Webly Sleek UI';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/weblysleekuisl.ttf') format('truetype');
}

@font-face {
  font-family: 'Webly Sleek UI';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/weblysleekuisb.ttf') format('truetype');
}

// @imports
@import "bootstrap-overrides";
@import "vendors/bootstrap/bootstrap";
@import "vendors/owl-carousel/owl.carousel";
@import "vendors/animate-css/animate";
@import "vendors/swipebox/swipebox";

// base
@import "base/layout";
@import "base/utilities";
@import "base/components";

// pages
@import "pages/page";
@import "pages/homepage";
@import "pages/cheeses";
@import "pages/news";
@import "pages/gallery";
@import "pages/contacts";

// common styles
body {
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw !important;
  overflow-x: hidden !important;

  &.nav-opened {
    position: fixed;
    overflow-y: hidden;

    .nav-menu {
      left: 0 !important;
    }

    .nav-backdrop {
      left: 0;
      background-color: rgba($black, .9);
    }
  }
}