{# grid-cheese-category-item #}
<div class="col-md-6 pb-3 {{ order }}">
  <div class="card rounded mb-4">
    <div class="card-img-container">
      {# grid-cheese-item #}
      {% for item in category.posts(2) %}
        {# showing according image based on category #}
        {% if item.has_term('chanakh-in-brine') and loop.last %}
          <img class="card-img object-fit-cover" src="{{ TimberImage(item.post_cheese_cover_image).src }}" width="{{ TimberImage(item.post_cheese_cover_image).width }}" height="{{ TimberImage(item.post_cheese_cover_image).height }}" alt="Ecokat">

        {% elseif item.has_term('chanakh-in-brine') != true and loop.first %}
          <img class="card-img object-fit-cover" src="{{ TimberImage(item.post_cheese_cover_image).src }}" width="{{ TimberImage(item.post_cheese_cover_image).width }}" height="{{ TimberImage(item.post_cheese_cover_image).height }}" alt="Ecokat">
        {% endif %}
      {% endfor %}

      {# link to category / post based on posts number in current category #}
      {% if category.posts | length == 1 %}
        {% set link = category.posts[0].link %}
      {% else %}
        {% set link = category.link %}
      {% endif %}

      {# overlay #}
      <a href="{{ link }}" class="overlay w-100 h-100 d-flex align-items-center">
        <i class="fas fa-4x fa-angle-double-right text-white mx-auto mb-4"></i>
      </a>
    </div>

    <a href="{{ link }}" class="d-block h4 card-title text-uppercase text-dark text-center mb-0 py-4 px-2">{{ category.title }}</a>
  </div>
</div>