{# grid-cheese-item #}
{% set package_images = post.get_field('post_cheese_product_images') %}

<div class="col-md-6 col-lg-4 pb-4">
  <a href="{{ post.link }}">
    <div class="card h-100 rounded">
      <div class="card-img-container d-flex justify-content-center pb-3">
        {# making images bigger if cheese type is "Goat" or "Akunk" #}
        {% if post.has_term('goat-cheese') or post.has_term('akunk') %}
          {% set class_width = 'w-100' %}
        {% endif %}

        <img data-src="{{ TimberImage(package_images[0].post_cheese_product_images_image).src('medium') }}" alt="Ecokat" width="{{ TimberImage(package_images[0].post_cheese_product_images_image).sizes['medium'].width }}" height="{{ TimberImage(package_images[0].post_cheese_product_images_image).sizes['medium'].height }}" class="img-lazy card-img object-fit-cover {{ class_width ? class_width }}">
      </div>

      <div class="card-title mb-0 py-3">
        {{ post.title }}

        {# adding "chanakh in brine" type for according items #}
        {% if post.has_term('chanakh-in-brine') %}
          <p class="small mb-0">{{ options.translate_cheeses_title_chanakh_in_brine }}</p>
        {% endif %}
      </div>
    </div>
  </a>
</div>