{# component: homepage carousel item #}
<figure class="text-center {{ order }}">
  {# getting only the last image (packaging) of product #}
  {% for image in post.get_field('post_cheese_product_images') %}
    {% if loop.last %}
      <a href="{{ post.link }}">
        <img data-src="{{ TimberImage(image.post_cheese_product_images_image).src('thumbnail') }}" alt="Ecokat" width="{{ TimberImage(image.post_cheese_product_images_image).sizes['thumbnail'].width }}" height="{{ TimberImage(image.post_cheese_product_images_image).sizes['thumbnail'].height }}" class="img-lazy categories-cheeses-homepage-item img-fluid object-fit-cover {{ post.has_term('lori') ? 'mh-custom' }} mx-auto">
      </a>
    {% endif %}
  {% endfor %}

  {# title/link to cheese #}
  <figcaption class="w-100 mt-3 mb-2">
    <a href="{{ post.link }}" class="d-block text-uppercase text-dark text-center">
      {{ post.title }}

      {# adding "chanakh in brine" type for according items #}
      {% if post.has_term('chanakh-in-brine') %}
        <span class="d-block text-center">{{ options.translate_cheeses_brine }}</span>
      {% endif %}
    </a>
  </figcaption>
</figure>