<header id="page-header" class="d-flex align-items-center">
  {# cover image #}
  <img class="w-100 h-100 object-fit-cover animated pulse" src="{% block cover_img %}{{ TimberImage(page.page_intro_section_img).src }}{% endblock %}" alt="Ecokat">

  {# title #}
  <div class="title row justify-content-center text-center no-gutters px-4">
    <div class="col-12 col-sm-10 col-xl-6 mt-auto">
      <h1 class="display-4 font-weight-bold text-uppercase animated animated-long slideInDown mt-9 mb-2 pt-7">{% block title %}{{ page.page_intro_section_heading }}{% endblock %}</h1>

      {# "cheeses in brine" optional block #}
      {% block cheeses_brine %}{% endblock %}

      <p class="lead text-muted text-uppercase animated animated-long slideInUp mb-auto">{% block subtitle %}{{ page.page_intro_section_text }}{% endblock %}</p>
    </div>

    {# "scroll-down" button #}
    <div class="col-12 mt-auto mb-9 mb-sm-6">
      <button type="button" class="btn btn-link __btn-scroll text-white animated infinite flash mt-9" data-scroll-target=".page-content" data-scroll-offset="0">
        <i class="fas fa-chevron-down fa-3x"></i>
      </button>
    </div>
  </div>
</header>
