{# component-section: page links #}
<section id="section-page-links" class="mt-auto">
  <div class="container-fluid text-light px-0">
    <div class="row text-center text-uppercase no-gutters">
      {% block content %}
        {# checking if current page is not "About Us" #}
        {% if page.slug != 'about-us' %}
          <a href="{{ homepage.get_field('homepage_section_pages_links_link_1st') }}" class="col-12 col-lg py-4">
            <h2 class="mb-0 px-3 py-8 p-lg-9">
              {{ homepage.homepage_section_pages_links_title_1st }}
            </h2>
          </a>
        {% endif %}

        {# checking if current page is not "Gallery" #}
        {% if page.slug != 'gallery' %}
          <a href="{{ homepage.get_field('homepage_section_pages_links_link_2nd') }}" class="col-12 col-lg py-4">
            <h2 class="mb-0 px-3 py-8 p-lg-9">
              {{ homepage.homepage_section_pages_links_title_2nd }}
            </h2>
          </a>
        {% endif %}
      {% endblock %}
    </div>
  </div>
</section>
