{% extends "base.twig" %}

{% block content %}
  <main id="page-cheeses" class="d-flex flex-column">
    {# "page header" component #}
    {% embed 'components/_page-header.twig' %}
      {% block title %}{{ category.title }}{% endblock %}
      {% block subtitle %}{{ cheese.get_field("page_cheeses_#{ category.slug }_type") }}{% endblock %}

      {% block cover_img %}
        {% for post in category.posts(1) %}
          {{ TimberImage(post.post_cheese_cover_image).src }}
        {% endfor %}
      {% endblock %}
    {% endembed %}

    {# page content #}
    <div id="cheeses-all" class="page-content container text-dark">
      <div class="row grid-products my-5">
        <h1 class="col-12 text-center mb-4">{{ category.title }}</h1>
        <div class="col-12 text-muted small mb-4">
          {{ cheese.get_field("page_cheeses_#{ category.slug }_description") }}
        </div>

        {# cheeses posts loop #}
        {% for post in category.posts %}
          {% include 'components/_grid-cheese-item.twig' %}
        {% endfor %}
      </div>
    </div>
  </main>

  {# component-section: page links #}
  {% include 'components/_page-links.twig' %}
{% endblock %}
