{% extends "base.twig" %}

{% block content %}
  <main id="page-cheeses" class="d-flex flex-column">
    {# "page header" component #}
    {% include 'components/_page-header.twig' %}

    {# page content #}
    <div class="page-content container text-dark">
      {# layout change navigation #}
      <ul class="nav nav-pills justify-content-center flex-column flex-sm-row my-5" id="cheeses-all-tab" role="tablist">
        <li class="nav-item text-center">
          <a class="nav-link active" id="cheeses-categories-tab" data-toggle="pill" href="#cheeses-all" role="tab" aria-controls="cheeses-all" aria-selected="true">{{ options.translate_cheeses_title_all }}</a>
        </li>

        <li class="nav-item text-center">
          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#cheeses-categories" role="tab" aria-controls="cheeses-categories" aria-selected="false">{{ options.translate_cheeses_title_categories }}</a>
        </li>
      </ul>

      {# cheeses tabs #}
      <div class="tab-content">
        {# all cheeses view #}
        <div class="tab-pane fade show active" id="cheeses-all" role="tabpanel" aria-labelledby="cheeses-all-tab">
          <div class="row grid-products my-5">
            {# cheeses posts loop #}
            {% for post in posts %}
              {% include 'components/_grid-cheese-item.twig' %}
            {% endfor %}
          </div>
        </div>

        {# categories view #}
        <div class="tab-pane fade" id="cheeses-categories" role="tabpanel" aria-labelledby="cheeses-categories-tab">
          <div class="row grid-products my-5">
            {# categories loop #}
            {% for category in categories %}
              {% if category.id not in [1, 2, 9] %}
                {% include 'components/_grid-cheese_category-item.twig' %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </main>

  {# component-section: page links #}
  {% include 'components/_page-links.twig' %}
{% endblock %}
