{% extends "base.twig" %}

{# getting main contacts #}
{% set contacts = [
  {
    title: options.translate_contact_factory_title,
    address: options.general_company_address_production,
    tel: options.general_company_tel_production
  },
  {
    title: options.translate_contact_factory_title_2nd,
    address: options.general_company_address_production_2,
    tel: options.general_company_tel_production_2
  },
  {
    title: options.translate_contact_office_title,
    address: options.general_company_address_office,
    tel: options.general_company_tel_office
  },
  {
    title: options.translate_contact_russian_representative_title,
    address: options.general_company_address_russia,
    tel: options.general_company_tel_russia
  }
] %}

{# setting contact form variable #}
{% set contact_form_id = options.translate_contact_form %}

{% block content %}
  <main id="page-contacts" class="page d-flex flex-column">
    {# "google maps" #}
    <header id="map"></header>

    {# page content #}
    <div class="page-content container text-dark">
      <div class="row my-5">
        {# contact form #}
        <div class="col-lg-7 pt-3">
          {# title and note #}
          <h2>{{ page.page_contacts_title }}</h2>
          <p class="text-muted mb-5">{{ page.page_contacts_required_note }}</p>

          {# displaying contact form shortcode #}
          {{ fn('do_shortcode', contact_form_id) }}
        </div>

        {# sidebar #}
        <div class="col-lg-4 ml-lg-auto pt-2">
          <h2 class="text-dark mb-4">{{ options.general_company_name }}</h2>

          {# looping throught contacts #}
          {% for contact in contacts %}
            <div class="card text-muted mb-4">
              <div class="card-body">
                <h5 class="text-dark mb-3">{{ contact.title }}</h5>

                <p>
                  <i class="fas fa-fw fa-map-marker text-primary mr-2"></i> {{ contact.address }}
                </p>

                <p class="mb-0">
                  <i class="fas fa-fw fa-phone text-success mr-2" data-fa-transform="rotate-90"></i> {{ contact.tel }}
                </p>
              </div>
            </div>
          {% endfor %}

          <div class="card text-muted">
            <div class="card-body text-center">
              <a href="mailto:info@ecokat.am" class="text-dark h4">
                <i class="fas fa-fw fa-envelope text-info mr-2"></i> info@ecokat.am
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  {# component-section: page links #}
  {% include 'components/_page-links.twig' %}
{% endblock %}
