{% extends "base.twig" %}

{% block content %}
  <main id="page-{{ page.slug }}" class="page d-flex flex-column">
    {# "page header" component #}
    {% include 'components/_page-header.twig' %}

    {# page content #}
    <div class="page-content container text-dark">
      <div class="row my-5">

        {# looping through gallery sections #}
        {% for item in page.get_field('page_gallery_section') %}
          <section class="col-12 pb-4">
            <h2 class="text-center mb-3">{{ item.title }}</h2>
            <p class="small text-muted">{{ item.description }}</p>

            {# checking if there are images uploaded #}
            {% if item.images %}
              <div class="row grid-images mt-5">
                {# looping through images #}
                {% for image in item.images %}
                  <div class="col-sm-6 col-md-4 col-lg-3 mb-4 pb-2">
                    <a href="{{ TimberImage(image) }}" class="img-lightbox d-block rounded" data-rel="gallery-{{ loop.parent.loop.index }}">
                      <img data-src="{{ TimberImage(image).src('medium') }}" alt="Ecokat" class="img-lazy w-100 object-fit-cover rounded" width="{{ TimberImage(image).sizes['medium'].width }}" height="{{ TimberImage(image).sizes['medium'].height }}">
                    </a>
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            {% if not loop.last %}
              <hr class="mt-4">
            {% endif %}
          </section>
        {% endfor %}
      </div>
    </div>
  </main>

  {# component-section: page links #}
  {% include 'components/_page-links.twig' %}
{% endblock %}
