{% extends "base.twig" %}

{% block content %}
  {# header #}
  <header id="homepage-header" class="container-fluid px-0">
    {# major object #}
    <div class="row no-gutters">
      <div class="object major-object col-12">
        {# cover image #}
        {# getting random image as a background #}
        {% set main_section_images = homepage.get_field('homepage_intro_section_img') %}
        {% set main_section_random_image = random(main_section_images | length - 1) %}

        <img class="w-100 h-100 object-fit-cover animated pulse infinite" src="{{ TimberImage(main_section_images[main_section_random_image]).src }}" alt="Ecokat">

        {# title #}
        <div class="title d-flex">
          <a href="{{ TimberPost(35).link }}" class="row w-100 justify-content-center align-items-center no-gutters text-white pt-9 pt-lg-0 px-3">
            <h1 class="text-uppercase text-center col-10 animated animated-long slideInLeft mt-auto mb-3 mb-sm-0">{{ homepage.homepage_intro_section_heading }}</h1>
            <p class="lead text-muted text-uppercase text-center col-12 animated animated-long slideInRight mb-auto">{{ homepage.homepage_intro_section_text }}</p>
          </a>
        </div>
      </div>
    </div>

    {# minor objects #}
    <div class="row no-gutters">
      <div class="object minor-object col-lg-6 mt-3 mt-lg-0 pt-lg-0">
        {# getting random image as a background #}
        {% set first_subsection_images = homepage.get_field('homepage_intro_1st_subsection_gallery') %}
        {% set first_subsection_random_image = random(first_subsection_images | length - 1) %}

        <img class="w-100 h-100 object-fit-cover animated pulse infinite" src="{{ TimberImage(first_subsection_images[first_subsection_random_image]) }}" alt="Ecokat">

        {# title #}
        <a href="{{ homepage.get_field('homepage_intro_1st_subsection_link') }}" class="title text-white row justify-content-center align-items-center no-gutters">
          <h2 class="col-12 text-uppercase text-center animated animated-long slideInDown mb-0 px-3 mr-lg-5">{{ homepage.homepage_intro_1st_subsection_heading }}</h2>
        </a>
      </div>

      <div class="object minor-object col-lg-6 ml-md-auto mt-3 mt-lg-0 pt-lg-0">
        {# getting random image as a background #}
        {% set second_subsection_images = homepage.get_field('homepage_intro_2nd_subsection_gallery') %}
        {% set second_subsection_random_image = random(second_subsection_images | length - 1) %}

        <img class="w-100 h-100 object-fit-cover animated pulse infinite" src="{{ TimberImage(second_subsection_images[second_subsection_random_image]) }}" alt="Ecokat">

        {# title #}
        <a href="{{ homepage.get_field('homepage_intro_2nd_subsection_link') }}" class="title text-white row justify-content-center align-items-center no-gutters">
          <h2 class="col-12 text-uppercase text-center animated animated-long slideInUp mb-0 px-3 ml-lg-5">{{ homepage.homepage_intro_2nd_subsection_heading }}</h2>
        </a>
      </div>
    </div>
  </header>

  {# main content #}
  <main id="page-homepage" class="d-flex flex-column">
    {# section: welcome #}
    <section id="section-welcome" class="bg-dark">
      <div class="container">
        <div class="row py-7 py-sm-8">
          <div class="col-md-9 col-lg-8 col-xl-9">
            <h2 class="mb-3">
              {{ homepage.homepage_section_welcome_title }}
            </h2>

            <p class="text-muted mb-0">
              {{ homepage.homepage_section_welcome_text }}
            </p>
          </div>
        </div>
      </div>
    </section>

    {# section: cheese #}
    <section id="section-cheese" class="bg-light">
      <div class="container py-8">
        <div class="col-12 col-md-10 col-xxl-12 ml-auto">
          <h2 class="text-center text-uppercase text-dark mt-6 mt-md-0 mb-4">{{ options.translate_our_cheeses }}</h2>

          <div id="homepage-carousel-cheese" class="owl-carousel">
            {# categories loop #}
            {% for post in posts %}
              {% include 'components/_homepage-carousel-item.twig' with {order: 'order-1'} %}
            {% endfor %}
          </div>
        </div>

        <div class="col-12 col-md-10 col-xxl-12 text-center ml-auto">
          <a href="{{ TimberPost(35).link }}" class="btn btn-lg btn-primary py-3">{{ options.translate_view_all }}</a>
        </div>
      </div>
    </section>

    {# section: news #}
    <section id="section-news">
      <div class="container text-dark py-5 py-sm-9">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <h2 class="text-center text-uppercase text-white mb-6 mb-sm-8">{{ options.translate_latest_news }}</h2>
          </div>

          {# looping through latest news #}
          {% for item in news %}
            <div class="col-lg-5 mx-3 mb-8 mb-lg-0">
              <div class="card h-100">
                <div class="card-img">
                  <a href="{{ item.link }}">
                    <img data-src="{{ TimberImage(item.post_news_cover_image).src('large') }}" alt="Ecokat" width="{{ TimberImage(item.post_news_cover_image).sizes['large'].width }}" height="{{ TimberImage(item.post_news_cover_image).sizes['large'].height }}" class="img-lazy card-img-top object-fit-cover">
                  </a>
                </div>

                <div class="card-body d-flex flex-column align-items-start p-4">
                  <a href="{{ item.link }}" class="h4 text-dark card-title text-uppercase">{{ item.title }}</a>

                  <p class="card-text pb-3">
                    {{ item.post_news_short_text }}
                  </p>

                  <a href="{{ item.link }}" class="btn btn-success mt-auto">{{ options.translate_read_more }}</a>
                </div>
              </div>
            </div>
          {% endfor %}

          <div class="col-12 text-center mt-lg-8">
            <a href="{{ TimberPost(41).link }}" class="btn btn-lg btn-outline-light py-3">{{ options.translate_all_news }}</a>
          </div>
        </div>
      </div>
    </section>
  </main>

  {# component-section: page links #}
  {% embed 'components/_page-links.twig' %}
    {% block content %}
      <a href="{{ homepage.get_field('homepage_section_pages_links_link_3rd') }}" class="col-12 col-lg py-4">
        <h2 class="mb-0 px-3 py-8 p-lg-9">
          {{ homepage.homepage_section_pages_links_title_3rd }}
        </h2>
      </a>
    {% endblock %}
  {% endembed %}
{% endblock %}
