{% extends "base.twig" %}

{% block content %}
  <main id="page-{{ page.slug }}" class="page d-flex flex-column">
    {# "page header" component #}
    {% include 'components/_page-header.twig' %}

    {# page content #}
    <div class="page-content container text-dark">
      <div class="row my-5">

        {# looping through latest news #}
        {% for item in news %}
          <div class="col-lg-6 mb-5">
            <div class="card h-100">
              <div class="card-img">
                <a href="{{ item.link }}">
                  <img data-src="{{ TimberImage(item.post_news_cover_image).src('large') }}" alt="Ecokat" class="img-lazy card-img-top object-fit-cover" width="{{ TimberImage(item.post_news_cover_image).sizes['large'].width }}" height="{{ TimberImage(item.post_news_cover_image).sizes['large'].height }}">
                </a>
              </div>

              <div class="card-body d-flex flex-column align-items-start p-4">
                <a href="{{ item.link }}" class="h4 text-dark card-title text-uppercase">{{ item.title }}</a>

                <p class="card-text pb-3">
                  {{ item.post_news_short_text }}
                </p>

                <a href="{{ item.link }}" class="btn btn-success mt-auto">{{ options.translate_read_more }}</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </main>

  {# component-section: page links #}
  {% include 'components/_page-links.twig' %}
{% endblock %}
