{% extends "base.twig" %}

{% block content %}
  <main id="page-{{ page.slug }}" class="page d-flex flex-column">
    {# "page header" component #}
    {% include 'components/_page-header.twig' %}

    {# page content #}
    <div class="page-content container text-dark">
      <div class="row my-5">
        {# section navigation #}
        <div class="col-12 mb-4">
          <ul class="nav nav-pills justify-content-center flex-column flex-sm-row">
            {% for section in page.get_field('page_sections') %}
            <li class="nav-item text-center mb-2 mb-sm-0">
              <a href="#" class="nav-link mx-sm-2 mb-sm-3 __btn-scroll" data-scroll-target="#scn-{{ loop.index }}" data-scroll-offset="35">{{ section.title }}</a>
            </li>
            {% endfor %}
          </ul>

          <hr class="mt-4">
        </div>

        {# looping through page sections #}
        {% for section in page.get_field('page_sections') %}
          <section class="col-12 mb-4" id="scn-{{ loop.index }}">
            {# title #}
            <h2 class="text-center mb-3">
              {{ section.title }}
            </h2>

            {# content #}
            <div class="content text-muted">
              {{ section.text }}
            </div>

            {# images #}
            {% if section.images %}
              <div class="row justify-content-center">
                {% for image in section.images %}
                  <div class="col-6 col-sm-4 col-md-3 p-4">
                    <img data-src="{{ TimberImage(image).src }}" alt="Ecokat" width="{{ TimberImage(image).width }}" height="{{ TimberImage(image).height }}" class="img-lazy img-fluid">
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            {# seperator #}
            {% if not loop.last %}
              <hr class="mt-6">
            {% endif %}
          </section>
        {% endfor %}
      </div>
    </div>
  </main>

  {# component-section: page links #}
  {% include 'components/_page-links.twig' %}
{% endblock %}
