{% extends "base.twig" %}

{% block content %}
  {# facebook sdk #}
  <div id="fb-root"></div>
  <script>(function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s);
          js.id = id;
          js.src = 'https://connect.facebook.net/{{ options.translate_facebook_locales }}/sdk.js#xfbml=1&version=v2.11';
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

  <main id="single-cheese" class="page d-flex flex-column">
    {# "page header" component #}
    {% embed 'components/_page-header.twig' %}
      {# post main image as page header image #}
      {% block cover_img %}{{ TimberImage(post.post_cheese_cover_image) }}{% endblock %}

      {# cheese title #}
      {% block title %}
        {{ post.title }}

        {# adding "chanakh in brine" type for according items #}
        {% if post.has_term('chanakh-in-brine') %}
          <h3 class="text-uppercase font-weight-bold animated slideInDown">{{ options.translate_cheeses_title_chanakh_in_brine }}</h3>
        {% endif %}
      {% endblock %}

      {# cheese type #}
      {% if cheese.get_field("page_cheeses_#{ post.category.slug }_type") %}
        {% block subtitle %}{{ cheese.get_field("page_cheeses_#{ post.category.slug }_type") }}{% endblock %}
      {% endif %}
    {% endembed %}

    {# page content #}
    <div class="page-content container text-dark">
      <div class="row my-5">
        {% if post.post_cheese_product_images %}
          <h1 class="col-12 mb-4">{{ options.translate_cheeses_sizes_title }}</h1>

          {% for item in post.get_field('post_cheese_product_images') %}
            <div class="page-cheeses-type col-sm-4 col-md-3 d-flex flex-column align-items-center my-3">
              <a href="{{ TimberImage(item.post_cheese_product_images_image).src }}" class="img-lightbox" data-rel="gallery-product">
                <img data-src="{{ TimberImage(item.post_cheese_product_images_image).src('medium') }}" alt="Ecokat" class="img-lazy img-fluid" width="{{ TimberImage(item.post_cheese_product_images_image).sizes['medium'].width }}" height="{{ TimberImage(item.post_cheese_product_images_image).sizes['medium'].height }}">
              </a>

              <small>{{ item.post_cheese_product_images_title }}</small>
            </div>
          {% endfor %}

          <hr class="w-100 mt-4 mb-5">
        {% endif %}

        {# specifications #}
        {% set specifications = [
          {
            title: options.translate_cheeses_specifications.fat,
            level: cheese.get_field("page_cheeses_#{ post.category.slug }_specifications_fat"),
            bg: 'warning'
          },
          {
            title: options.translate_cheeses_specifications.moisture,
            level: cheese.get_field("page_cheeses_#{ post.category.slug }_specifications_moisture"),
            bg: 'primary'
          },
          {
            title: options.translate_cheeses_specifications.salt,
            level: cheese.get_field("page_cheeses_#{ post.category.slug }_specifications_salt"),
            bg: 'success'
          },
          {
            title: options.translate_cheeses_specifications.life,
            level: cheese.get_field("page_cheeses_#{ post.category.slug }_specifications_life"),
            bg: 'info'
          }
        ] %}

        {# looping throught specifications #}
        {% for option in specifications %}
          <div class="col-sm-6 col-lg-3 {{ (loop.index in [1, 2]) ? 'mb-4 mb-lg-0' }}{{ loop.index == 3 ? 'mb-4 mb-sm-0' }}">
            <div class="card text-center text-white bg-gradient-{{ option.bg }}">
              <div class="card-header small">
                {{ option.title }}
              </div>

              <div class="card-body pt-2">
                <h2 class="font-weight-bold mb-0">{{ option.level }}{{ loop.last ? " #{options.translate_cheeses_month}" }}</h2>
              </div>
            </div>
          </div>
        {% endfor %}

        <div class="col mt-5 pr-sm-4 pr-lg-6">
          <div class="small text-muted text-justify">
            {{ cheese.get_field("page_cheeses_#{ post.category.slug }_description") }}

            <div class="d-block my-3">
              {{ post.post_cheese_ingredient }}
            </div>
          </div>
        </div>

        {# facebook like and share #}
        <div class="fb-like w-100 mt-4 px-3" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
      </div>
    </div>
  </main>

  {# component-section: page links #}
  {% include 'components/_page-links.twig' %}
{% endblock %}
