{% extends "base.twig" %}

{% block content %}
  {# facebook sdk #}
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/{{ options.translate_facebook_locales }}/sdk.js#xfbml=1&version=v2.11';
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

  <main id="single-news" class="page d-flex flex-column">
    {# "page header" component #}
    {% embed 'components/_page-header.twig' %}
      {# post main image as page header image #}
      {% block cover_img %}{{ TimberImage(post.post_news_cover_image) }}{% endblock %}

      {# post title #}
      {% block title %}{{ post.title }}{% endblock %}

      {# post date #}
      {% block subtitle %}{{ post.date }}{% endblock %}
    {% endembed %}

    {# page content #}
    <div class="page-content container text-dark">
      <div class="row my-5">
        <article class="col pr-sm-4 pr-lg-6">
          <h2 class="h1 font-weight-bold">{{ post.title }}</h2>
          <h5 class="text-muted mb-4">{{ post.date }}</h5>

          <p class="text-muted text-justify">
            {{ post.post_news_full_text }}
          </p>

          {# facebook like and share #}
          <div class="fb-like w-100 mt-4" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
        </article>

        {% if post.get_field('post_news_other_images') %}
          <div class="col-md-5 col-lg-4 my-3">
            {% for item in post.get_field('post_news_other_images') %}
              <a href="{{ TimberImage(item.img) }}" class="img-lightbox" data-rel="gallery-1">
                <img data-src="{{ TimberImage(item.img).src('medium') }}" alt="Ecokat" width="{{ TimberImage(item.img).sizes['medium'].width }}" height="{{ TimberImage(item.img).sizes['medium'].height }}" class="img-lazy img-fluid rounded mb-4">
              </a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </main>

  {# component-section: page links #}
  {% include 'components/_page-links.twig' %}
{% endblock %}
