// page: cheeses

#page-cheeses {
  background: url('../img/bg/bg-cheeses.png') 380px 380px;

  .nav-pills {
    li {
      &:first-child a {
        border-radius: rem-calc(10px) rem-calc(10px) 0 0;

        @include media-breakpoint-up(sm) {
          border-radius: rem-calc(10px) 0 0 rem-calc(10px);
        }
      }

      &:last-child a {
        border-radius: 0 0 rem-calc(10px) rem-calc(10px);

        @include media-breakpoint-up(sm) {
          border-radius: 0 rem-calc(10px) rem-calc(10px) 0;
        }
      }
    }

    a {
      border: 1px solid $black;
      text-transform: uppercase;
      font-size: rem-calc(18px);

      @include media-breakpoint-up(sm) {
        min-width: rem-calc(230px);
      }

      &:not(.active) {
        color: $black;

        &:hover {
          opacity: .5;
        }
      }
    }
  }

  div.text-muted {
    color: #8c8c8c !important;
  }

  .card {
    box-shadow: 0 0 rem-calc(20px) 0 rgba($black, .1);
    transition: box-shadow .5s;

    &:hover {
      box-shadow: 0 0 rem-calc(35px) 0 rgba($black, .2);
    }
  }

  #cheeses-all .card {
    background-color: transparent;

    .card-img-container {
      background-color: $white;
      border-radius: rem-calc(7px) rem-calc(7px) 0 0;
    }

    .card-title {
      @extend .h5;
      @extend .text-dark;
      background-color: rgba($white, .6);
      border-radius: 0 0 rem-calc(7px) rem-calc(7px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      height: rem-calc(78px);
      text-align: center;
      transition: background-color .5s;

      .small {
        font-size: rem-calc(16px);
        color: #989898;
      }
    }

    img {
      width: rem-calc(240px);
      height: rem-calc(280px);
      object-fit: contain;
      transition: transform .5s;
    }

    &:hover {
      img {
        transform: scale(1.08);
      }

      .card-title {
        background-color: $white;
      }
    }
  }

  #cheeses-categories .card {
    position: relative;

    .card-img-container {
      position: relative;
      overflow: hidden;

      .overlay {
        @include position(absolute, $top: 0, $left: 0);
        background-color: rgba($black, .3);
        opacity: 0;
        transition: opacity 2s;
      }
    }

    .card-img {
      transition: transform 6s;
      height: rem-calc(250px);
    }

    &:hover {
      .card-img {
        transform: scale(1.4) rotate(6deg);
      }

      .overlay {
        opacity: 1;
      }
    }
  }
}

// page: single cheese
#single-cheese {
  .page-cheeses-type {
    a {
      transition: transform .4s;

      &:hover {
        transform: scale(1.1);
      }
    }

    img {
      @include media-breakpoint-only(xs) {
        max-width: rem-calc(220px);
      }
    }
  }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: rem-calc(66px);
  }

  .card-body {
    padding-bottom: rem-calc(13px);
  }
}
