// page: contacts

#page-contacts {
  #map {
    height: rem-calc(350px);
  }

  .form-control {
    background-color: rgba(239, 239, 239, .6);
    transition: background-color .25s;

    &:focus {
      background-color: rgba($white, .8);
    }
  }

  // sidebar
  .card {
    border: 1px solid #ced4db;
    box-shadow: rem-calc(10px) rem-calc(10px) rem-calc(39px) rem-calc(-15px) rgba($black, .15);

    .card-img {
      height: rem-calc(120px) !important;
    }
  }
}