// page: gallery

#page-gallery {
  .img-lightbox {
    overflow: hidden;
    box-shadow: 0 0 rem-calc(15px) 0 rgba($black, .20);
    transition: box-shadow 1s;

    img {
      height: rem-calc(160px);
      transition: transform 1s;
    }

    &:hover {
      box-shadow: 0 0 rem-calc(20px) 0 rgba($black, .70);

      img {
        transform: scale(1.4) rotate(6deg);
      }
    }
  }
}