// homepage
#page-homepage {
  #section-welcome {
    @include background-image('../img/cheese/c1.svg');
    background-size: rem-calc(300px);
    background-position: right -22% top -180px;

    @include media-breakpoint-up(md) {
      background-position: right -26% center;
    }

    @include media-breakpoint-up(lg) {
      background-position: right -5% center;
    }
  }

  // section: cheese
  #section-cheese {
    @include background-image('../img/cheese/c2.svg');
    background-size: rem-calc(300px);
    background-position: left -22% top -180px;

    @include media-breakpoint-up(md) {
      background-size: rem-calc(300px);
      background-position: left -180px center;
    }

    @include media-breakpoint-up(lg) {
      background-size: rem-calc(350px);
      background-position: left -220px center;
    }

    @include media-breakpoint-up(xl) {
      background-position: left -180px center;
    }

    @include media-breakpoint-up(xxl) {
      background-position: left -210px center;
    }

    #homepage-carousel-cheese {
      .owl-nav div {
        @include position(absolute, $top: rem-calc(95px));
        transition: opacity .25s;

        &:hover {
          opacity: .5;
        }
      }

      .owl-prev {
        left: rem-calc(-10px);

        @include media-breakpoint-up(md) {
          left: rem-calc(-40px);
        }
      }

      .owl-next {
        right: rem-calc(-10px);

        @include media-breakpoint-up(md) {
          right: rem-calc(-40px);
        }
      }
    }

    #homepage-carousel-cheese figure {
      height: rem-calc(200px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 40px;

      img {
        transition: transform .35s;

        &.mh-custom {
          max-height: 14.5rem;
        }
      }

      &:hover img {
        transform: scale(1.15);
      }

      figcaption {
        a {
          position: relative;
        }

        span {
          @include position(absolute, $bottom: -15px, $left: -15px, $right: -15px);
          font-size: rem-calc(12px);
          color: #989898;
        }
      }
    }

    .categories-cheeses-homepage-item {
      max-height: rem-calc(160px);
      object-fit: contain;
    }
  }

  // section: news
  #section-news {
    @include background-image('../img/bg/section-news.jpg');

    .card {
      box-shadow: 0 rem-calc(22px) rem-calc(64px) rem-calc(11px) rgba($black, .4);

      .card-img {
        overflow: hidden;

        img {
          height: rem-calc(180px);
          transition: transform 1s ease-in-out;
        }
      }

      .card-text {
        color: $gray-500 !important;
      }

      &:hover img {
        transform: scale(1.4) rotate(6deg);
      }
    }
  }
}