// page: cheeses
#page-news {
  background: url('../img/bg/bg-news.png') 150px 150px;

  .card {
    .card-img {
      overflow: hidden;

      img {
        height: rem-calc(250px);
        transition: transform 1s ease-in-out;
      }
    }

    .card-text {
      color: #989da2;
    }

    &:hover img {
      transform: scale(1.3) rotate(6deg);
    }
  }
}