// default page templates
main.page {
  background: url('../img/bg/bg-page.jpg') 200px 200px;

  .page-content {
    .text-muted {
      color: #6c6c6c !important;
    }
  }
}

main {
  header .title {
    @include media-breakpoint-only(xs) {
      .display-4 {
        font-size: rem-calc(27px);
      }
    }

    @include media-breakpoint-only(sm) {
      .display-4 {
        font-size: rem-calc(32px);
      }
    }

    @include media-breakpoint-between(md, lg) {
      .display-4 {
        font-size: rem-calc(45px);
      }
    }
  }

  @include media-breakpoint-down(sm) {
    h1 {
      font-size: rem-calc(28px);
    }

    section h2 {
      font-size: rem-calc(25px);
    }

    .lead {
      font-size: rem-calc(15px);
    }
  }

  &#page-about-us {
    .nav-pills a {
      @extend .bg-success;
      color: $white;
      text-transform: uppercase;
      font-weight: bold;
      transition: background-color .25s;
    }
  }
}