// components

// buttons and links
.btn {
  text-transform: uppercase;
  letter-spacing: rem-calc(2px);
  cursor: pointer;

  &.btn-success {
    color: $white;
  }

  &.btn-lg {
    @include media-breakpoint-only(xs) {
      font-size: rem-calc(14px);
    }
  }
}

// section-page-links
#section-page-links .row > a {
  color: $white;
  transition: background-size 1s ease-in-out, opacity 1s;
  background-size: 140% !important;

  &:first-child {
    @include background-image('../img/bg/page-link-1.jpg');
  }

  &:last-child {
    @include background-image('../img/bg/page-link-2.jpg');
  }

  &:hover {
    opacity: .9;
    background-size: 155% !important;

    @include media-breakpoint-up(sm) {
      background-size: 120% !important;
    }
  }

  @include media-breakpoint-up(sm) {
    background-size: 110% !important;
  }
}

// language chooser (qTranslateX)
.language-chooser {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    transition: background-color .3s;
    @extend .rounded;
    @extend .p-3;
    @extend .p-md-4;
    @extend .mx-3;

    span {
      margin-top: rem-calc(17px);
      font-size: rem-calc(20px);
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    &::before {
      content: '';
      width: rem-calc(60px);
      height: rem-calc(60px);
    }

    &.qtranxs_text_hy::before {
      background: url('../img/flags/hy.svg') no-repeat;
    }

    &.qtranxs_text_ru::before {
      background: url('../img/flags/ru.svg') no-repeat;
    }

    &.qtranxs_text_en::before {
      background: url('../img/flags/en.svg') no-repeat;
    }

    &:hover {
      background-color: rgba($white, .1);
    }
  }
}