// top bar
#top-bar {
  @include position(absolute, $top: 0, $left: 0, $right: 0, $zindex: 1);

  // main menu toggle
  .btn-menu {
    @include position(absolute, $top: 0, $left: rem-calc(5px));
    color: $white;
    cursor: pointer;

    @include media-breakpoint-up(sm) {
      left: rem-calc(20px);
    }

    @include media-breakpoint-only(xs) {
      font-size: rem-calc(28px);
    }

    svg {
      transition: transform .4s;
    }

    &:hover {
      @include media-breakpoint-up(sm) {
        background-color: rgba($white, .1);

        svg {
          transform: scale(1.4);
        }
      }
    }

    &.btn-lang-switcher {
      left: auto !important;
      right: rem-calc(5px);

      @include media-breakpoint-up(sm) {
        right: rem-calc(20px);
      }
    }
  }

  .main-logo {
    position: relative;
    top: rem-calc(-5px);
    transition: top .7s;
    animation-duration: 1.5s;

    &:hover {
      top: 0;
    }

    img {
      @include media-breakpoint-up(lg) {
        width: rem-calc(260px);
      }
    }
  }
}

// main menu
.nav-menu {
  @include position(fixed, $top: 0, $left: -100%, $bottom: 0, $zindex: $zindex-tooltip + 2);
  width: calc(100% - 12px);
  transition: left .6s, right .6s;

  @include media-breakpoint-up(sm) {
    right: auto;
    width: rem-calc(400px);
  }

  .btn-close {
    transition: transform .5s;

    path {
      transition: fill .5s;
    }

    &:hover {
      @include media-breakpoint-up(sm) {
        transform: scale(1.2);

        path {
          fill: $black;
        }
      }
    }
  }

  .list-menu li {
    @include media-breakpoint-only(xs) {
      font-size: rem-calc(20px);
    }

    a {
      color: $black;

      &:hover {
        opacity: .5;
      }
    }

    &.active a {
      font-weight: bold;
    }
  }

  &::before,
  &::after {
    content: '';
    @include position(absolute, $top: 0, $right: 0, $bottom: 0);
    width: rem-calc(12px);
    background-color: theme-color('success');
  }

  &::after {
    right: rem-calc(-12px);
    background-color: theme-color('primary');
  }
}

// headers
header {
  // #homepage-header
  &#homepage-header {
    // vars
    $majorObjectHeight: 45rem;
    $minorObjectsHeight: 21.13rem;
    $minorObjectsTopPosition: -26.06rem;

    // minor-object-path mixin
    @mixin minor-object-path($leftAngle, $rightAngle) {
      clip-path: polygon(0 $leftAngle, 100% $rightAngle, 100% 100%, 0% 100%);
      -webkit-clip-path: polygon(0 $leftAngle, 100% $rightAngle, 100% 100%, 0% 100%);
    }

    @include media-breakpoint-up(lg) {
      max-height: rem-calc(642px);
      overflow-y: hidden;
    }

    @include device-height(900px) {
      max-height: rem-calc(693px);
    }

    // cover images
    img {
      transition: transform 2s ease;
    }

    // objects
    .object {
      overflow: hidden;

      &:hover .title {
        background-color: rgba($black, .2);
      }
    }

    .major-object {
      height: $majorObjectHeight - 10rem;

      img {
        animation-duration: 70s;
      }

      @include media-breakpoint-only(xs) {
        h1 {
          font-size: rem-calc(25px);
        }

        p {
          font-size: rem-calc(14px);
        }
      }

      @include media-breakpoint-down(lg) {
        h1 {
          font-size: rem-calc(30px);
        }

        p {
          font-size: rem-calc(18px);
        }
      }

      @include media-breakpoint-up(lg) {
        height: $majorObjectHeight;
        clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 75%, 0% 50%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 75%, 0% 50%);

        .title {
          padding-bottom: rem-calc(170px);
        }
      }

      @include device-height(900px) {
        height: $majorObjectHeight + 3rem;
      }
    }

    .minor-object {
      height: $majorObjectHeight - 34rem;

      img {
        animation-duration: 80s;
      }

      h2 {
        @include media-breakpoint-down(lg) {
          font-size: rem-calc(28px);
        }

        @include media-breakpoint-down(xs) {
          font-size: rem-calc(25px);
        }
      }

      @include media-breakpoint-up(lg) {
        max-width: 49.3%;
        height: $minorObjectsHeight;
        top: $minorObjectsTopPosition;
      }

      @include device-height(900px) {
        height: $minorObjectsHeight + 3rem;
        top: $minorObjectsTopPosition - 2.8rem;
      }

      // clips
      &:first-child {
        @include media-breakpoint-up(lg) {
          @include minor-object-path(22%, 75%);
        }

        @include device-height(900px) {
          @include minor-object-path(25%, 75%);
        }
      }

      &:last-child {
        @include media-breakpoint-up(lg) {
          @include minor-object-path(75%, 22%);
        }

        @include device-height(900px) {
          @include minor-object-path(75%, 25%);
        }
      }

      // title
      .title {
        white-space: pre;

        @include media-breakpoint-up(lg) {
          padding-top: rem-calc(180px);
        }
      }
    }

    // title, subtitle and backdrop
    .title {
      @include position(absolute, 0, 0, 0, 0);
      background-color: rgba($black, .35);
      align-items: center;
      transition: padding-top 1.2s ease, background-color 1.2s ease;

      h1, h2 {
        font-weight: bold;
      }
    }
  }

  // #homepage-header
  &#page-header {
    // vars
    $headerMinHeight: rem-calc(670px);

    height: 100vh;
    overflow: hidden;

    @include media-breakpoint-up(sm) {
      min-height: $headerMinHeight;
    }

    // cover images
    img {
      animation-duration: 80s;
    }

    // title, subtitle and backdrop
    .title {
      @include position(absolute, $top: 0, $right: 0, $left: 0);
      height: 100vh;
      background-color: rgba($black, .35);
      align-items: center;

      @include media-breakpoint-up(sm) {
        min-height: $headerMinHeight;
      }
    }

    // btn-scroll
    .__btn-scroll {
      animation-duration: 4s;
    }
  }
}

// footer
footer {
  .footer-logo {
    width: rem-calc(100px);

    @include media-breakpoint-up(xl) {
      width: rem-calc(140px);
    }
  }

  .list-social-icons {
    a {
      font-size: rem-calc(25px);

      &:hover {
        opacity: .7;
      }
    }

    .fa-facebook-square {
      color: #3b5998;
    }

    .fa-facebook-messenger {
      color: #0084ff;
    }

    .fa-instagram {
      color: #e1306c;
    }
  }

  .logo-enero {
    width: rem-calc(160px);
    max-width: 100%;

    img {
      transition: transform 2s, opacity .5s;

      &:first-child {
        margin-right: rem-calc(13px);
      }
    }

    &:hover img {
      &:first-child {
        transform: rotate(360deg);
      }

      &:last-child {
        opacity: .6;
      }
    }
  }

  .text-muted {
    color: rgba($black, .6) !important;
  }

  a:hover {
    opacity: .7;
  }
}