// utilities

// elements
a {
  transition: opacity .25s, color .25s;
}

.card {
  overflow: hidden;
}

.btn-contacts-page {
  background-color: rgba($black, .15);
  border-radius: rem-calc(6px) !important;

  &:hover {
    background-color: rgba($black, .3) !important;
  }
}

// nav-backdrop
.nav-backdrop {
  @include position(fixed, $top: 0, $bottom: 0, $left: -100%, $zindex: $zindex-tooltip + 1);
  background-color: rgba($black, 0);
  transition: background-color .7s;
}

// common classes
.object-fit-cover {
  object-fit: cover;
}

.animated-long {
  animation-duration: 2s;
}

#swipebox-bottom-bar {
  position: fixed !important;
  bottom: 0 !important;
  transform: none !important;
}

// swipebox
#swipebox-overlay {
  background-color: rgba($black, .95);
  padding-bottom: rem-calc(70px);
}

// lazyload
img:not([src]) {
  visibility: hidden;
}