
{# footer #}
<footer class="bg-light text-dark">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-4 d-flex flex-column flex-sm-row justify-content-center justify-content-xl-start ml-xl-4 mb-5 mb-lg-0">
        <div class="footer-logo mb-4 mx-auto m-sm-0">
          <img class="w-100" src="{{ theme.path }}/assets/img/logo-notext.svg" alt="Ecokat">
        </div>

        <div class="text-center text-sm-left ml-sm-4">
          <h6 class="text-uppercase">{{ options.general_company_name }}</h6>
          <ul class="list-unstyled text-muted small mb-0">
            <li class="px-4 px-sm-0">{{ options.general_company_address_office }}</li>
            <li>{{ options.general_company_tel_office }}</li>
            <li>
              <a href="mailto:info@ecokat.am" class="text-success">info@ecokat.am</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-sm-6 col-lg-2 col-xl-3 text-center text-sm-left ml-lg-4 mb-5 mb-md-0">
        <h6 class="text-uppercase">{{ options.translate_sitemap }}</h6>

        <div class="d-flex justify-content-center justify-content-lg-start">
          <ul class="list-unstyled row text-muted small mb-0">
            {# looping through menu items #}
            {% for item in menu.items %}
              {# excluding current and main pages #}
              {% if item.slug != page.slug and item.link != "#{site.link}/" %}
                <li class="col-sm-6 col-lg-12 col-xl-6">
                  <a href="{{ item.link }}" class="text-muted">{{ item.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col-sm-6 col-lg-2 text-center text-sm-left ml-lg-4 mb-4 mb-sm-0">
        <h6 class="text-uppercase">{{ options.translate_follow_us }}</h6>

        <ul class="list-inline list-social-icons">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/Ecokatdairy/" target="_blank"><i class="fab fa-facebook-square"></i></a>
          </li>

          <li class="list-inline-item ml-1">
            <a href="https://www.instagram.com/ecokatdairy/" target="_blank"><i class="fab fa-instagram"></i></a>
          </li>

          <li class="list-inline-item ml-1">
            <a href="https://m.me/ecokatdairy" target="_blank"><i class="fab fa-facebook-messenger"></i></a>
          </li>
        </ul>
      </div>

      <div class="col-sm-6 col-lg-3 col-xl-2 text-center text-sm-left ml-lg-auto">
        <h6 class="text-uppercase mb-3">{{ options.translate_designed_by }}</h6>

        <a href="http://www.enero-studio.com/" target="_blank" class="d-flex align-items-center logo-enero mx-auto mr-sm-auto ml-sm-0">
          <img src="{{ theme.path }}/assets/img/logo-enero-circle.svg" alt="ENERO studio" width="50">

          <img src="{{ theme.path }}/assets/img/logo-enero-text.svg" alt="ENERO studio" width="60">
        </a>
      </div>
    </div>
  </div>
</footer>

{# "languages" modal #}
<div class="modal fade" id="modal-languages" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog h-100 d-flex align-items-center justify-content-center my-0" role="document">
    <div class="modal-content">
      <div class="modal-body">
        {{ fn('qtranxf_generateLanguageSelectCode', 'text') }}
      </div>
    </div>
  </div>
</div>

{# opened navbar backdrop #}
<div class="nav-backdrop w-100" data-target="body" data-toggle-class="nav-opened"></div>

{# js #}
{% if page.slug == 'contacts' %}
  {{ fn('wp_footer') }}
{% endif %}

<script src="{{ theme.path }}/assets/js/scripts.min.js"></script>
{# page specific js #}
{% if page.slug == 'contacts' %}
  <script>
      function initMap() {
          var createMarker = function (position, title) {
                  return new google.maps.Marker({
                      position: position,
                      map: map,
                      icon: '{{ theme.path }}/assets/img/marker-icon.svg',
                      title: title
                  })
              },
              factory_1 = {lat: 40.172740, lng: 45.732932},
              factory_2 = {lat: 40.163381, lng: 45.733594},
              map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 13,
                  center: {lat: 40.183130, lng: 45.731114},
                  disableDefaultUI: true
              }),
              icon = {
                  url: '{{ theme.path }}/assets/img/marker-icon.svg',
                  size: new google.maps.Size(71, 71),
                  origin: new google.maps.Point(0, 0),
                  anchor: new google.maps.Point(17, 34),
                  scaledSize: new google.maps.Size(40, 40)
              },
              factory_1_marker = createMarker(factory_1, '{{ options.general_company_address_production }}'),
              factory_2_marker = createMarker(factory_2, '{{ options.general_company_address_production_2 }}');
      }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6dk8pR94sChQZ_FWanSnjvWEHs9-NqTo&callback=initMap" async defer></script>
{% endif %}
</body>
</html>