<!doctype html>
<html lang="{{ fn('qtranxf_getLanguage') }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    {# title based on active page (homepage, page or single post) #}
    <title>{{ fn('is_single') ? post.title : page.title }}{{ fn('is_front_page') != true ? ' | ' }}{{ options.translate_site_title }}</title>

    {# description and open graph image based on active page (page, cheese or news) #}
    {% set active_page = {
      page: fn('is_page'),
      cheese: fn('is_singular', 'post'),
      news: fn('is_singular', 'news_item')
    } %}

    {# common metas #}
    <meta name="keywords" content="{{ options.site_keywords }}">
    <meta name="author" content="{{ options.general_company_name }}">

    <meta name="description" content="{{ active_page.page ? options.site_description }}{{ active_page.news ? post.post_news_short_text }}{{ active_page.cheese ? post.post_cheese_ingredient }}">
    <meta property="og:image" content="{{ active_page.page ? "#{theme.path}/assets/img/og.jpg" }}{{ active_page.news ? TimberImage(post.post_news_cover_image) }}{{ active_page.cheese ? TimberImage(post.post_cheese_cover_image) }}">

    {# favicons #}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ theme.path }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ theme.path }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ theme.path }}/favicon-16x16.png">
    <link rel="manifest" href="{{ theme.path }}/manifest.json">
    <link rel="mask-icon" href="{{ theme.link }}/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    {# css #}
    <link rel="stylesheet" href="{{ theme.path }}/assets/css/styles.min.css">

    {# adding contact form 7 styles #}
    {{ page.slug == 'contacts' ? function('wp_head') }}
  </head>

  <body>
    <!-- yandex metrika counter -->
    <script>
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter47387851 = new Ya.Metrika2({
                        id: 47387851,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true
                    });
                } catch (e) {
                }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () {
                    n.parentNode.insertBefore(s, n);
                };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else {
                f();
            }
        })(document, window, "yandex_metrika_callbacks2");
    </script>

    <noscript>
      <div><img src="https://mc.yandex.ru/watch/47387851" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>

    {# navigation menu #}
    <nav class="nav-menu d-flex flex-column bg-light text-dark pt-4 pb-2 pyg-sm-5 px-3 px-sm-4">
      <div class="d-flex align-items-center">
        <h2 class="text-muted text-uppercase px-2 px-sm-4">{{ options.translate_pages_title }}</h2>

        <button type="button" class="btn btn-close btn-link text-muted ml-auto" data-target="body" data-toggle-class="nav-opened">
          <i class="fas fa-2x fa-angle-double-left"></i>
        </button>
      </div>

      {# main menu #}
      <ul class="list-menu list-unstyled h4 mt-3">
        {% for item in menu.items %}
          <li class="py-2 px-2 px-sm-4 {{ item.current ? 'active' }}">
            <a href="{{ item.link }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>

      {# menu footer #}
      <div class="d-flex align-items-center align-items-md-start flex-column flex-sm-row mt-auto px-4 pb-3">
        <img src="{{ theme.path }}/assets/img/logo-notext.svg" alt="Ecokat" width="90">

        <div class="mt-5 mt-sm-0 pl-sm-4 d-none d-sm-block">
          <h6 class="text-uppercase">{{ options.general_company_name }}</h6>

          <ul class="list-unstyled text-muted small mb-0">
            <li>{{ options.general_company_address_office }}</li>
            <li>{{ options.general_company_tel_office }}</li>
            <li>
              <a href="mailto:info@ecokat.am" class="text-success">info@ecokat.am</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {# main header (nav-toggle and logo) #}
    <header id="top-bar">
      <div class="container d-flex align-items-start justify-content-center px-0">
        <button type="button" class="btn btn-menu btn-lg btn-link {{ page.slug == 'contacts' ? 'btn-contacts-page' }} rounded-0 mt-3 mt-sm-4" data-target="body" data-toggle-class="nav-opened">
          <i class="fas fa-bars mr-sm-3"></i>
          <span class="d-none d-sm-inline-block">{{ options.translate_pages_title }}</span>
        </button>

        <a href="{{ site.link }}" class="main-logo animated slideInDown mx-auto">
          <img class="d-lg-none" src="{{ theme.path }}/assets/img/{{ options.translate_logos_filename }}.svg" alt="Ecokat" width="200">
          <img class="d-none d-lg-block" src="{{ theme.path }}/assets/img/{{ options.translate_logos_filename }}-lg.svg" alt="Ecokat" width="220">
        </a>

        <button type="button" class="btn btn-menu btn-lang-switcher btn-lg btn-link {{ page.slug == 'contacts' ? 'btn-contacts-page' }} rounded-0 mt-3 mt-sm-4" data-toggle="modal" data-target="#modal-languages">
          <span class="d-none d-sm-inline-block">{{ options.translate_languages_title }}</span>
          <i class="fas fa-globe ml-sm-2"></i>
        </button>
      </div>
    </header>